*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 header{
    height: 50px;
    background-color: #63B8FF;
    background-image: url(../img/pattern.png);
    background-size: 200px;
    
 }

 #logo{
    height: 70px;
    width: 100px;
    
 }

 #color{
    color: grey;
    font-size: 10px;
 }

 a{
    text-decoration: none;
 }

 .testo{
    font-size: 7px;
    color: grey;
 }

 #corsivo{
    font-style: italic;
    font-size: 5px;
 }

 #margine{
    margin-top: 15px;
    margin-bottom: 20px;
 }

 span{
    background-color: yellow;
 }

 li{
    margin-left: 20px;
 }

 table{
    border-collapse: collapse;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 th{
    color: white;
    background-color: blue;
 }

 .contenitore-tabella{
    background-color: #63B8FF;
    font-size: 20px;
    margin-top: 20px;
 }

 th, tr{
    width: 1000px;
 }

 h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
 }

.img{
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    padding-left: 90px;
    margin-bottom: 10px;
}

.img1{
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    padding-left: 90px;
}


