*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 header{
    height: 50px;
    background-color: #63B8FF;
    background-image: url(../img/pattern.png);
    background-size: 200px;
    
 }

 #logo{
    height: 70px;
    width: 100px;
    
 }

 #color{
    color: grey;
    font-size: 10px;
 }

 a{
    text-decoration: none;
 }

 .testo{
    font-size: 7px;
    color: grey;
 }

 #corsivo{
    font-style: italic;
    font-size: 5px;
 }

 #margine{
    margin-top: 15px;
    margin-bottom: 15px;
 }

 span{
    background-color: yellow;
 }

 li{
    margin-left: 20px;
 }