*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 header{
    height: 50px;
    background-color: #63B8FF;
    background-image: url(../img/pattern.png);
    background-size: 200px;
    
 }

 #logo{
    height: 70px;
    width: 100px;
    
 }