*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 header{
    height: 50px;
    background-color: #63B8FF;
    background-image: url(../img/pattern.png);
    background-size: 200px;
    
 }

 #logo{
    height: 70px;
    width: 100px;
    
 }

 #color{
    color: grey;
    font-size: 10px;
 }

 a{
    text-decoration: none;
 }

 .testo{
    font-size: 7px;
    color: grey;
 }

 .dimensione-tim{
    height: 220px;
 }

 #corsivo{
    font-style: italic;
    font-size: 5px;
 }